

.heroText
{
    font-size: $extra;
    color: $white;
    font-weight: $maxweight;

}

.emotionalText
{
    font-size: $l;
    line-height: 1.5em;
    color: $white;
    font-weight: $midweight;
    font-family: serif;
    font-style: italic;
    padding: 24px;
}

.standardText
{
    font-size: $xl;
    font-weight: $maxweight;
}

.neutralParagraph
{
    font-size: $m;
    color: $white;   
}

.standarParagraph
{
    font-size: $m;
    line-height: 1.5em;
    color: $bombay;
    font-family: serif;
}

.navhover
{
    font-size: $xxl;
    line-height: 2em;
    color: $white;
    opacity: 0.3;
}

.paragraphHoverNews
{
    font-size: $m;
    color: $white;
    line-height: 2em;
}

.titleNews
{
    font-size: $m;
    color: $mandy;
    line-height: 1.4em;    
}

.parNews
{
    font-size: $m;
    color: $midgray;
    line-height: 2em;    
}

.cta
{
    padding: 24px;
}

.cta_first
{
    background-color: $mandyvibrant;
    font-size: $m;
    color: $white;
    text-transform: uppercase;
    padding: 16px 32px;
    margin: 8px;
    border-radius: 2px;
}

.m_cta_first
{
    background-color: $mandyvibrant;
    font-size: $s;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    width: 25%;
    padding: 8px;
}

.cta_base
{
    font-size: $m;
    color: $white;
    border: 1px solid $white;
    text-transform: uppercase;
    padding: 16px 32px;
    margin: 16px;
    margin: 8px;
}

.stripCta
{
    font-size: $s;
    color: $white;
}