$charade : rgb(39, 43, 52);
$mandy: #ea4a56;
$white: #fefefe;
$midgray: #6b6b6c;
$bombay : #aeaeaf;
$roti: #bcaa44;
$allports: #036dac;
$rustynail: #be5c09;

$sunglo : #de7272;
$tapa: #75726e;
$lynch: #7780a4;
$balihai: #859fb4;

$mandyvibrant: rgb(235, 75, 93);
$jumbo: #737376;
$bluezodiac: #0b2037;
$ebonyclay: #2d2d45;
$sorrellbrown: #c8ba7e;

$extra: 80px;
$xxl: 42px;
$xl: 32px;
$l: 24px;
$m: 16px;
$s: 13px;
$xs: 9px;

$maxweight: 800;
$midweight: 500;